.contact {
  padding-top: 10rem;
  background-color: #e9bcb7;
background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
  width: 100%;
  height: 25rem;

  .title {
    display: block;
    text-align: center;
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #c5b5ba;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.91);
  }

  .subtitle {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.91);
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    color: #aaaa9f;
  }

  .butt {
    background-color: black;
    height: 40px;
    width: 65%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .frm {
    width: 70%;
    margin: auto;
    background-color: #d4d4d4;
  }
}
