.CustomNav {
  -webkit-box-shadow: 0px 5px 13px 2px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 13px 2px rgba(0, 0, 0, 0.29);
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  color: whitesmoke;

  .profile {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
  }

  .navCon {
    height: 80px;
    @media screen and (max-width: 1000px) {
      height: 100px;
      margin-top: -20px;
    }
  }
}
